// Custom Colors
gull-gray = #94A4B8
wheat = #F5DFB0
persian-plumb = #79211B
concrete = #F2F2F2
transparent-black = rgba(0, 0, 0, 0.5)

// Element Colors
// header-background = rgba(255, 255, 255, 0.8)
header-background = black
nav-link-background = gull-gray
body-background = concrete
tag-background = gull-gray
button-background = gull-gray
text-light = concrete

text-link = gull-gray
text-visited = gull-gray