icn-wordpress = '\f19a'
icn-pdf = '\f1c1'
icn-right-arrow = '\f105'
icn-globe = '\f0ac'
icn-linkedin = '\f08c'
icn-github = '\f092'
icn-star = '\f005'
icn-star-o = '\f006'

icn-beginner = '\f005\f006\f006\f006\f006'