$highlight-color = gull-gray
text-selection()

html
  font-size 62.5%

body
  font-size 1.6rem

$headings
  font-family $montserrat
  font-weight 700

h1
  font-size 2.2rem

h2
  @extends $headings
  font-size 2rem

h3
  @extends $headings
  font-size 1.8rem

a
  link text-link 'darken'
