extends layout

block nav
  +nav-items('Work', 'About', 'Contact')

block fold
  .fold(class='wow fadeIn')
    p My name is Paul Nelson, and I am a web developer dedicated to creative solutions.

block content
  section#work
    h2 Work
    p I have experience creating static and dynamic websites using many different technologies, such as WordPress and PHP.

    +portfolio-item('ResoundCreative.com', 'http://ResoundCreative.com', 'resound.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p This website was developed for Resound Creative, but had already been partly coded by others. The theme was built on top of #[a(href='https://roots.io/') Roots], which was heavily modified during development.

    +portfolio-item('MaxFitStrong.com', 'http://maxfitstrong.com/', 'maxfit.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p This website was developed for one of Resound Creative's clients, a personal trainer named Max Pietropaulo. The design was already established in mockups, but it was built from scratch using #[a(href='http://underscores.me/') underscores] as a base.

    +portfolio-item('SusanPuelz.com', 'http://susanpuelz.com/', 'puelz.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p SusanPuelz.com was developed for one of Resound Creative's clients, a watercolor artist named Susan Puelz. It was converted from a fixed-width flash site to a responsive design built on WordPress and underscores.

  section#about
    h2 About

    include:marked ../sections/_about.md

  section#contact
    h2 Contact

    #form-messages

    form#form-contact(method='post', action='process.php')
      .form-field
        label(for='email') Email
        input(type='email', name='email', id='email', required)

      .form-field
        label(for='name') Name
        input(type='text', name='name', id='name', required)

      .form-field
        label(for='message') Message
        textarea(name='message', id='message', required)

      .g-recaptcha(data-sitekey='6LdMNxcTAAAAAB1Oo76b0Jpci3cErw44B0XL1HIY')

      .form-field
        input.button(type='submit')
