extends layout

block fold
	.fold
		p My name is Paul Nelson, and I am a web developer dedicated to creative solutions.

block content
	section#work
		h2 Work

		:marked
			I have experience creating static and dynamic websites using many different technologies, such as WordPress and PHP.

			* [ResoundCreative.com](portfolio/resoundcreative)
			* [MaxFitStrong.com](portfolio/maxfit)
			* [Brewski Brews](portfolio/brewski)

	section#about
		h2 About

		include:marked ../sections/_about.md

	section#contact
		h2 Contact