extends layout

block nav
  +nav-items('Work', 'About', 'Skills', 'Contact')

block fold
  .fold(class='wow fadeIn')
    p My name is Paul Nelson, and I am a web developer dedicated to creative solutions.

block content
  section#work
    h2 Work
    p I have experience creating static and dynamic websites using many different technologies, such as WordPress and PHP.

    +portfolio-item('ResoundCreative.com', 'http://ResoundCreative.com', 'resound.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p This website was developed for Resound Creative, but had already been partly coded by others. The theme was built on top of #[a(href='https://roots.io/') Roots], which was heavily modified during development.

    +portfolio-item('MaxFitStrong.com', 'http://maxfitstrong.com/', 'maxfit.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p This website was developed for one of Resound Creative's clients, a personal trainer named Max Pietropaulo. The design was already established in mockups, but it was built from scratch using #[a(href='http://underscores.me/') underscores] as a base.

    +portfolio-item('SusanPuelz.com', 'http://susanpuelz.com/', 'puelz.jpg', 'WordPress', 'PHP', 'SASS', 'JavaScript')
      p SusanPuelz.com was developed for one of Resound Creative's clients, a watercolor artist named Susan Puelz. It was converted from a fixed-width flash site to a responsive design built on WordPress and underscores.

  section#about
    h2 About

    +div-image('profile', 'profile.jpg', true)

    include:marked ../sections/_about.md

    a.download-pdf(href='resume.pdf') Download my Resume

  section#skills
    h2 Skills

    .skills
      h3 Programming/Web
      ul
        li HTML5 &amp; CSS3
        li SASS/Stylus
        li JavaScript/CoffeeScript
        li WordPress/PHP
        li Node.js
        li Git
        li Bootstrap
        li jQuery
        li Advanced Custom Fields
        li Divi

    .skills
      h3 Software
      ul
        li Asana
        li Google Drive
        li Microsoft Visual Studio
        li Photoshop/Lightroom
        li After Effects
        li Premiere Pro
        li InDesign

  section#contact
    h2 Contact

    //- TODO: Remove the class and text when put into production
    #form-messages.success This is what a success message will look like.

    form#form-contact(method='post', action='process.php')
      .form-field.contact-name
        label.screen-reader(for='name') Name
        input(type='text', name='name', id='name', placeholder='Name (Required)' required)

      .form-field.contact-email
        label.screen-reader(for='email') Email
        input(type='email', name='email', id='email', placeholder='Email (Required)', required)

      .form-field.contact-message
        label.screen-reader(for='message') Message
        textarea(name='message', id='message', placeholder='Type your message here.' required)

      .g-recaptcha(data-sitekey='6LdMNxcTAAAAAB1Oo76b0Jpci3cErw44B0XL1HIY')

      input.button(type='submit')
