extends layout

block nav
  +nav-items('Work', 'About', 'Contact')

block fold
  +div-image('fold', 'header.jpg', true)
    p My name is Paul Nelson, and I am a web developer in Arizona dedicated to creative solutions.

block content
  section#work
    h2 Work
    p I have experience creating static and dynamic websites using many different tools, such as WordPress and PHP.

    +portfolio-item('ResoundCreative.com', 'http://ResoundCreative.com', 'resound.jpg', 'WordPress', 'PHP', 'SASS', 'Responsive', 'JavaScript')
      p This website was developed for Resound Creative, but had already been partly coded by others. The theme was built on top of #[a(href='https://roots.io/') Roots], which was heavily modified during development.

    +portfolio-item('MaxFitStrong.com', 'http://maxfitstrong.com/', 'maxfit.jpg', 'WordPress', 'PHP', 'SASS', 'Responsive', 'JavaScript')
      p This website was developed for one of Resound Creative's clients, a personal trainer named Max Pietropaulo. The design was already established in mockups, but it was built from scratch using #[a(href='http://underscores.me/') underscores] as a base.

    +portfolio-item('SusanPuelz.com', 'http://susanpuelz.com/', 'puelz.jpg', 'WordPress', 'PHP', 'SASS', 'Responsive', 'JavaScript')
      p SusanPuelz.com was developed for one of Resound Creative's clients, a watercolor artist named Susan Puelz. It was converted from a fixed-width flash site to a responsive design built on WordPress and underscores.

    +portfolio-item('Stewardship ELP', 'http://www.stewardaz.com/about-stewardship/dave-ramsey-insurance-elp/', 'stewardship.jpg', 'WordPress', 'PHP', 'SASS', 'Responsive')
      p This single-page website was built from the ground up using an HTML mockup. It uses CSS animations and advanced positioning to create a fluid, responsive layout.

    +portfolio-item('Mathical Journey', 'portfolio/mathical', 'mathical.jpg', 'HTML5 & CSS3', 'JavaScript')
      p "Mathical Journey" was a single-page website created for a class at ASU. It uses vanilla JavaScript to randomly generate math questions and present them in a fun, unique way.

    +portfolio-item('Brewski Brews', 'portfolio/brewski', 'brewski.jpg', 'HTML5 & CSS3', 'Responsive')
      p Brewski Brews was part of an ongoing project in a class at ASU. It was developed from a mockup created by another student.

  section#about
    h2 About

    +div-image('profile', 'profile.jpg', true)

    include:marked ../sections/_about.md

    a.download-pdf(href='resume.pdf') Download my Résumé

    div
      //- h2 Skills

      .skills
        h3 Languages
        ul
          li.advanced HTML5 &amp; CSS3
          li.intermediate Jade
          li.intermediate SASS
          li.intermediate Stylus
          li.intermediate JavaScript
          li.beginner CoffeeScript
          li.beginner PHP

      .skills
        h3 Frameworks
        ul
          li jQuery
          li _underscores
          li Bootstrap
          li Jeet
          li Axis
          li Rupture

      .skills
        h3 Tools
        ul
          li WordPress
          li Node.js
          li Git
          li Microsoft Visual Studio
          li Photoshop/Lightroom
          li After Effects
          li Premiere Pro
          li InDesign

  section#contact
    h2 Contact

    #form-messages

    form#form-contact(method='post', action='process.php')
      .form-field.contact-name
        label.screen-reader(for='name') Name
        input(type='text', name='name', id='name', placeholder='Name (Required)' required)

      .form-field.contact-email
        label.screen-reader(for='email') Email
        input(type='email', name='email', id='email', placeholder='Email (Required)', required)

      .form-field.contact-message
        label.screen-reader(for='message') Message
        textarea(name='message', id='message', placeholder='Type your message here.' required)

      .g-recaptcha(data-sitekey='6LdMNxcTAAAAAB1Oo76b0Jpci3cErw44B0XL1HIY')

      input.button(type='submit')

  section#colophon
    h2 Colophon

    :marked
      This website was built using [Roots](http://roots.cx/), a wonderful static website generator that allowed me to write the website using Jade, Stylus, and CoffeeScript. It then converted all of the source files into minified and bundled HTML, CSS, and JavaScript. If you want to look at my original source, it can be found on [GitHub](https://github.com/paul-d-nelson/portfolio).