include ./includes/_mixins.jade

doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='The personal portfolio of Paul Nelson')
    meta(name='author', content= "Paul Nelson")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://www.google.com/recaptcha/api.js', async, defer)
    block title
      title Paul Nelson's Portfolio
    link(rel='stylesheet' href='css/animate.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    != css()

  body
    //- include ./includes/_header.jade
    block header
      header.main-header
        // Logo
        div.logo
          a(href='')
            h1 Paul Nelson

        // Navigation
        nav#nav
          a#menu-toggle
          ul.nav-toggle#menu
            block nav
              li
                a(href='#') Home

    main(role='main')
      block fold

      block content

    block footer
      footer
        ul
          li &copy; Paul Nelson 2016
          li
            a(href='https://www.linkedin.com/in/paul-nelson-b1660778')
              i.linkedin
          li
            a(href='https://github.com/paul-d-nelson')
              i.github

  script(src='js/wow.min.js')
  script(src='js/build.js')