.button
  no-select()
  color: text-light
  background: button-background
  padding: 10px 15px
  border-radius: 0
  border: border-width solid button-background
  transition()
  &:hover
    color: button-background
    background: text-light