.fold
  position relative
  height 60vh
  bg: 'header.jpg' fixed top
  background-size: cover
  // background-attachment: fixed
  p
    center-both()
    width 100%
    color text-light
    text-align center
    font-size 3rem
    font-family: $montserrat