.form-field
  position: relative
  input
  textarea
    input: gull-gray
    border-radius: 0
    transition: none
  input
    &:valid
      background: rgba(46, 204, 64, 0.1) url('/img/checkmark.svg') no-repeat 98% center;
      background-size: 22px
      // color: green
      box-shadow: 0 0 5px rgba(46, 204, 64, 0.7);
      border: 1px solid green;
      outline: none;
    &:focus:invalid
    &.invalid
      background: rgba(209, 63, 25, 0.1) url('/img/cross.svg') no-repeat 98% center;
      background-size: 22px
      box-shadow: 0 0 5px rgba(209, 63, 25, 0.7);
      border: 1px solid red;
      outline: none;
      // color: red


  // input:focus
  //   &:invalid
  //     field-error()
  //     &::after
  //       position: absolute
  //       content: '\f00d'
  //       right: -10px
  //   &:valid
  //     field-success()