.form-field
  position: relative
  input
  textarea
    input: gull-gray
    border-radius: 0
    transition: none
  input
  textarea
    &:valid
      box-shadow: 0 0 5px rgba(46, 204, 64, 0.7);
      border: 1px solid green;
      outline: none;
    &:focus:invalid
    &.invalid
      box-shadow: 0 0 5px rgba(209, 63, 25, 0.7);
      border: 1px solid red;
      outline: none;
