.form-field
  position: relative
  input
  textarea
    input: gull-gray
    border-radius: 0
    transition: none
  input
  textarea
    &:valid
      // background: #fff url('/img/checkmark.svg') no-repeat 98% center;
      // background-size: 22px
      // color: green
      box-shadow: 0 0 5px rgba(46, 204, 64, 0.7);
      border: 1px solid green;
      outline: none;
    &:focus:invalid
    &.invalid
      // background: #fff url('/img/cross.svg') no-repeat 98% center;
      // background-size: 22px
      box-shadow: 0 0 5px rgba(209, 63, 25, 0.7);
      border: 1px solid red;
      outline: none;
      // color: red
