#menu-toggle
  reset-link()
  color: white
  cursor pointer
  position absolute
  right body-padding
  top 3px
  &:hover
    color: white
  +below(rupture.desktop-cutoff)
    display block
  +above(rupture.desktop-cutoff)
    display none
  &:before
    content '\f0c9'
    font 42px fontawesome


#menu
  position absolute
  overflow hidden
  right 0
  transition right .5s
  +below(rupture.desktop-cutoff)
    reset-list()
    width menu-width
    height 100vh
    top header-height
    right: -(@width)
    text-align right
    background-color header-background
  +above(rupture.desktop-cutoff)
    center-vertically()
    inline-list 5px
    right body-padding
  &.menu-visible
    right 0

+above(rupture.desktop-cutoff)
  #menu
    height: 100%
    li
      height: 100%
      display table

+below(rupture.desktop-cutoff)
  main
    position absolute
    right 0
    overflow-x hidden
    transition right .5s
    &.menu-visible
      right menu-width


.nav-link
  reset-link()
  color text-light
  font-size 1.8rem
  position relative
  display: inline-block
  padding 8px 20px 10px
  margin 0 5px
  &:hover
  &.active
    color text-light
    background rgba(255, 255, 255, 0.2)
  &::after
    position absolute
    top 100%
    right 0
    width 100%
    height 0
    background white
    content ''
    opacity 0
    transition all .3s
    transform: translateY(-(border-width))
  &:hover::after
  &:focus::after
  &.active::after
    opacity 1
    height border-width

+below(rupture.desktop-cutoff)
  .nav-link
    width 100%
    margin 0
    padding-right body-padding

+above(rupture.desktop-cutoff)
  .nav-link
    height: 100%
    display: table-cell
    vertical-align: middle