#menu-toggle
  reset-link()
  cursor pointer
  position absolute
  right body-padding
  top 3px
  +below(rupture.desktop-cutoff)
    display block
  +above(rupture.desktop-cutoff)
    display none
  &:before
    content '\f0c9'
    font 42px fontawesome

#menu
  position absolute
  overflow hidden
  right 0
  transition max-height .5s
  +below(rupture.desktop-cutoff)
    reset-list()
    max-height 0
    top header-height
    text-align right
    background-color header-background
  +above(rupture.desktop-cutoff)
    center-vertically()
    inline-list 5px
    max-height menu-height
    right body-padding
  &.menu-visible
    max-height menu-height

.nav-link
  reset-link()
  font-size 1.8rem
  position relative
  display inline-block
  padding 8px 20px
  transition all .3s
  &:hover
  &.active
    background-color nav-link-background
    color text-light

  +below(rupture.desktop-cutoff)
    width 150px
    padding-right body-padding

  +above(rupture.desktop-cutoff)
    border-radius corner-radius

  // Mobile menu link styles
  // +below(rupture.desktop-cutoff)
  // .menu-visible &
  //   transition all .3s
  //   &:hover
  //   &.active
  //     background-color nav-link-background
  //     color text-light

  // Desktop menu link styles
  // +above(rupture.desktop-cutoff)
  //   &::after
  //     position absolute
  //     top 100%
  //     left 0
  //     width 100%
  //     height 2px
  //     background rgba(0,0,0,0.2)
  //     content ''
  //     opacity 0
  //     transition opacity 0.3s, transform 0.3s
  //     transform translateY(10px)
  //   &:hover::after
  //   &:focus::after
  //   &.active::after
  //     opacity 1
  //     transform translateY(-5px)