.portfolio-img
  aspect-ratio: 27%
  position: relative
  width 100%
  border-radius corner-radius
  background-position: center
  background-size: cover
  +mobile()
    aspect-ratio: 50%

.center-skill
  text-align center

.skill-list
  inline-list 40px
  display inline-block
  li
    padding: 3px
    margin-top: 10px
    background: tag-background
    color: text-light
    border-radius: corner-radius