.portfolio-img
  width 100%
  border-radius corner-radius
  background-size cover
  &:before
    padding-top 27%
    content ''
    display block

.center-skill
  text-align center

.skill-list
  inline-list 40px
  display inline-block
  li
    padding 3px
    background tag-background
    color text-light
    border-radius corner-radius

.portfolio-link
  &:after
    content: '\f105'
    font-family: FontAwesome
    font-style: normal
    font-weight: normal
    text-decoration: inherit
    position: relative
    left: 5px