.profile
  width: 200px
  height: 200px
  background-size: contain
  border-radius: corner-radius
  margin-right: 10px
  margin-bottom: (@margin-right / 2)
  +above(rupture.mobile-cutoff)
    float: left
  +below(body-width)
    width: 120px
    height: 120px
