#form-messages
  margin: 5px 0
  &.success
    flash: 'success'
    border-radius: 0
  &.error
    flash: 'error'
    border-radius: 0

.form-field
  input
  textarea
    width: 100%
    margin: 5px 0

.contact-
  &name
    col(1/2)
  &email
    col(1/2, cycle: 2)
  &message
    clear: both
    textarea
      height: 200px