.main-header
  position fixed
  top 0
  left 0
  height header-height
  width 100%
  background-color transparent
  z-index 10
  transition all 0.5s
  &.scrolled
    background-color header-background
  +below(rupture.desktop-cutoff)
    background-color header-background

.logo
  center-vertically()
  left 20px
  font-size 1.8rem
  font-family Montserrat
  a
    reset-link()
    h1
      color text-light
      margin 0

+above(rupture.desktop-cutoff)
  #nav
    height: 100%