.skills
  float: left
  width: 33.3333%
  padding: 5px 0
  ul
    padding-left: 20px
    margin-top: .5rem
  +below(body-width)
    clear: both
    width: 100%

.beginner
  &:before
    icn-left: icn-beginner